* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: sans-serif;
    background-color: black;
}

.header {
    height: 100vh;
    background-image: url(images/image_01.png);
    filter:brightness(10%);
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 100%
}

.navbar {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    gap: 30px;
}

a {
    color: rgb(255, 0, 0);
    font-weight: bold;
    text-decoration: none;
}

p , h1 {
    color: white;
}

h1 {
    font-family: serif;
    font-size: 4em;
}

p {
    font-size: 1.5em;
    letter-spacing: 5px;
}

.main-title {
    text-align: center;
    margin-top: 50vh;
}

.subtitle {
    margin-top: 1em;
    color: yellow;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(68, 68, 68);
    border: 2px solid rgb(145, 145, 145);
    padding: 30px;
    gap: 2.5em;
    transition: 2s;
}

.text-yellow {
    color: yellow
}

.text-blue p {
    color:rgb(98, 184, 255)
}

.card.bg-red {
    background-color: rgb(201, 44, 44);
}

.card:hover {
    border: 2px solid rgb(255, 255, 255)
}

.cards-container {
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
    margin-bottom: 200px;
}

.border-yellow {
    border: yellow 3px solid;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 200px;
}

label {
    color: white ;
}

.error {
    color: red;
    font-weight: bold;
    letter-spacing: normal;
    font-size: 16px;
}

.hidden {
    visibility:hidden;
    /* display:none; */
}