* {
    font-family:Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}

.navbar {
    padding:50px;
    font-size: 24px;
    gap: 30px;
    background: gray;
}

.a1 , .a2 , .a3 {
    text-decoration: none;
    color:black;
    /* enlève le fait que ce soit souligner car c'est des liens */
}

.a1 {
    display: flex;
    align-items: start;
    justify-content: start;
}

.a2 {
    display: flex;
    align-items: end;
    justify-content:end;
}

.a3 {
    display: flex;
    align-items: end;
    justify-content:end;
}

.div1 , .div2 {
    padding: 30px;
}

.div1 {
    background-color: rgb(88, 88, 88);
}

.div2 {
    background-color: rgb(119, 119, 119);
}